[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
channels = {extras = ["daphne"], version = "*"}
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
celery = "*"
redis = "*"
pillow = "*"
drf-yasg = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.11"
